<div class="d-flex align-items-center justify-content-center">
    <h1>Hello <%= current_user.first_name %>, Welcome to the EMentors</h1>
</div>
<% @courses.each do |course| %>
    <p>
        <strong>Course Name: </strong>
        <%=course.course_name%><br>
        <strong>Course Description: </strong>
        <%=course.course_description%><br>
        <%# <%= button_to 'Buy Course', purchases_path(course_id: course.id), method: :post %> 
        <%# <td><%= button_to "Buy Now!", checkout_create_path, params: {id: course.id}, remote: true %>
        <%= link_to 'View Details', dashboard_path(course) %>
    </p>
<% end %>