<div class="d-flex align-items-center justify-content-center">
    <h1>Hello Student</h1>
</div>

<div>
    <p><strong>Course Name: </strong><%= @course.course_name %></p>
    <p><strong>Course Description: </strong><%= @course.course_description %></p>
    <p><strong>Course Duration: </strong><%= @course.course_duration %></p>
    <p><strong>Course Price: </strong><%= @course.course_price %></p>
    <td><%= button_to "Buy Now!", checkout_create_path, params: {id: @course.id}, remote: true %></td>
</div>


<%= link_to 'Back', dashboard_index_path %> 
