<div class="d-flex align-items-center justify-content-center">
    <h1>Hello Student</h1>
</div>

<div>
    <p><strong>Course Name: </strong><%= @course.course_name %></p>
    <p><strong>Course Description: </strong><%= @course.course_description %></p>
    <p><strong>Course Duration: </strong><%= @course.course_duration %></p>
    <p><strong>Course Price: </strong><%= @course.course_price %></p>
</div>
<%= button_to 'Buy Course', purchases_path(course_id: @course.id), method: :post %>
<%= link_to 'Back', dashboard_index_path %> 