<div class="d-flex align-items-center justify-content-center">
    <h1>Hello <%= current_user.first_name %>, Welcome to EMentors</h1>
</div>
<h3>List of all your courses:</h3>
<% current_user.courses.each do |course|%>
    <p>
        <strong>Course Name:</strong>
        <%= course.course_name %>
    </p>

    <p>
        <strong>Course Description:</strong>
        <%= course.course_description %>
    </p>
    <p>
        <%= link_to 'View Details', course_path(course.id) %> 
    </p>
<% end %>

<%= link_to 'Create a new course', new_course_path %> 