<%= form_with model: [@course, @topic] do |form| %>
  <p>
    <%= form.label :topic_name %><br>
    <%= form.text_field :topic_name %>
  </p>
  <p>
    <%= form.label :topic_description %><br>
    <%= form.text_field :topic_description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>